*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "plain light";
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}

/* #0B0B0B */

.mousefollower{
    border: 2px solid #fff;
    background-color: rgb(225,255,255);
    scale: 2;
    mix-blend-mode: difference;
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 25vh 10vw;
}
.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#line1-part1 h5,#line1-part1 h6{
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}

.line h1{
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 500;
}
.line h2{

    font-size: 4.5vw;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes anime{
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 1;
    }
    47%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 0;
    }
    
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;
    }
}

#main{
    position: relative;
    background-color: #151515;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    z-index: 100;
    /* background-color: #aa2323; */
}
#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 1vw;
    font-weight: 550;
}
.hero{
    width: 72%;
    margin-left: 27%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}



.hero:nth-child(2){
    margin-top: 18vh;
}

.hero h1{
    font-size: 7.2vw;
    font-family: 500;
    text-transform: uppercase;
    line-height: 7vw;
    position: relative;
    
}

#hero1{
    position: relative;
}

#hero1::before{
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-weight: 100; 
    font-family: "silk serif";
    left: -5%;
    top: 1%;
}

.hero h2{
    font-size: 7.2vw;
    font-family: 500;
    text-transform: uppercase;
    line-height: 7vw;
    /* background-color: red; */
    border-bottom: .5vw solid #fff;
    padding-bottom: 0.8vw;
     /* transition: all ease 0.3s;  */
}

.hero h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: .5vw solid #ffffff00;
}

#page2{
    padding-top: 17vh;
    position: relative;
    height: 100vh;
    width: 100%;
}


#video-container{
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 28%;
    background-color: red;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
}


#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}

#video-curser{
    background-color: #ffa63d;
    height: 9vw;
    width: 9vw;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
#video-curser i{
    font-size: 2vw;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(19, 18, 18);
    position: relative;
    padding: 7vh 2vw ;
    margin-bottom: 20vh;
}

#page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;
}

#page3 .underline{
    margin-left: 28vw;
}

#page3 h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 100; 
    font-family: "silk serif";
    left: -10%;
    top: 5%;
}

#image-div-container{
    /* margin-left: 28vw; */
    padding: 1vw;
    position: relative;
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.image-div{
    height: 38vw;
    width: 27vw;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin: 2vw;
    /* background-color: blue; */
}

.image-div:nth-child(1){
    height: 29vw;
    width: 22vw;
}

.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.page3-circle1{
    height: 20vw;
    width: 20vw;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 23vh;
    margin-left: 10vw;

}
.page3-circle1 svg{
    height: 30%;
}

.page3-circle2{
   height: 20vw;
    width: 20vw;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* margin-top: 23vh; */
    /* margin-left: 10vw; */
}
.page3-circle2 svg{
    height: 30%;
    rotate: -45deg;
}

.circle-in{
    height: 100%;
    width: 100%;
    position:absolute;
    top:0;
    left: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    scale: 0;
    border-radius: 50%;

}

.circle-in p{
    font-size: 0.95vw;
    color: black;
    font-weight: 500;
    width: 60%;
    scale: 0;
    transition: all ease 0.3s;
    transition-delay: 0.4s;
    opacity: 0;
}

.page3-circle1:hover .circle-in{
    scale: 1;
}
.page3-circle1:hover p{
    scale: 1;
    opacity: 1;
}

.page3-circle2:hover .circle-in{
    scale: 1;
}
.page3-circle2:hover p{
    scale: 1;
    opacity: 1;
}

#page4{
    min-height: 100vh;
    width: 100%;
    padding: 7vh 0;
    background-color: rgb(19, 18, 18);
    position: relative;
}

#page4-content{
    width: 72vw;
    position: relative;
    margin-left: 28%;
}

#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
}

#page4-content h1::before{
    content: "03";
    position: absolute;
    font-size: 3vw;
    font-weight: 100; 
    font-family: "silk serif";
    left: -10%;
    top: 5%;
}

#page4-content .underline{
    height: 1px;
    width: 100%;
    margin: 5vw 0;
    background-color: white;
}

#page4-content>p{
    font-size: 2.2vw;
    width: 50%;
    margin-bottom: 3vw;
}

#page4-flex{
    display: flex;
}

#page4-flex img{
    width: 48%;
}

#page4-flex p{
    font-size: 0.9vw;
    width: 20%;
    margin-left: 1vw;
}

#page4-blue-div{
    background-color: #3F7DF4;
    width: 33vw;
    padding: 3vw;
    position: relative;
    margin-top: -34vh;
    margin-left: 24vw;
}

.blue-div-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.7vw;
    border-bottom: 2px solid #ffffff84;
}

.blue-div-elem h4{
    font-size: 1.35vw;
    font-weight: 500;
}

.blue-div-elem p{
    width: 50%;
    font-size: 0.8vw;
}

#page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.elem{
    /* background-color: red; */
    white-space: nowrap;
    /* overflow-y: hidden; */
    overflow-x: hidden;
    margin-bottom: 1vw;
}

.elem h1{
    font-size: 6vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 550;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 16px;
    animation-name: anim;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anim{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}


.elem2{
    /* background-color: red; */
    white-space: nowrap;
    /* overflow-y: hidden; */
    overflow-x: hidden;
    margin-bottom: -2vw;
}

.elem2 h1{
    font-size: 6vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 550;
    color: transparent;
    text-transform: uppercase;
    display: inline-block;
    transform: translate(calc(-100% - 20px));
    animation-name: anim;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
.elem h1 span,.elem2 h1 span{
    font-style: italic;
    font-family: "silk serif";
    color: transparent;
}
#footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    padding-top: 4vw;
    margin-bottom: 8vw;
}

#footer{
    height: 100vh;
    width: 100%;
    
    /* background-color: red; */
    position: relative;
    padding-left: 28vw;
    padding-right: 2vw;
}
#footer h1{
    font-size: 6vw;
    height: 20vh;
    width: fit-content;
    text-transform: uppercase;
    position: relative;
}


#lets-arrow  {
    height: 15vh;
    rotate: -90deg;
    position: relative;
}

#footer-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 100; 
    font-family: "silk serif";
    left: -10%;
    top: 5%;
}

.underline{
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin: 3vw 0;
}


#footer-div h6{
    font-size: 1vw;
    margin-bottom: 1.5vw;

}

.box{
    width: 20%;

}

#footer-div h5{
    font-size: 1.5vw;
    font-weight: 500;
    /* margin: 0.2vh 0; */

}
#copyright{
    font-size: 2vh;
    font-weight: 400;
}

._canvas_container{
    z-index: 9999999 !important;
    pointer-events: none;
}

#flag{
    height: 25vw;
    position: absolute;
    top:0;
    left:0;
    z-index: 999;
    transform: translate(-50%, -50%);
}

#hero3{
    z-index: 9999;
    position: relative;
    width: fit-content;
    /* background-color: red; */
}

